@model List<Aula_03_05_16.Models.Product>


@{
    ViewBag.Title = "Index";
}

<h2>Produtos</h2>
<a href="@Url.Action("Create", "Product")" class="btn btn-success">Novo Produto</a>
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>

<div class="table-responsive">
    <table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Preço</th>
    </tr>
        
            @foreach (var item in @Model)
            {

                var badgeClass = @item.Price <= 15 ? "label-sucess" : "label-danger";
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Categoria</td>
                    <td>@item.Price</td>
                </tr>
            }
        
 </table>
</div>
